body{
	font-size: 12px;
	background-color: #f5f5f5;
}
header{
	width: 100%;
	height: 13.77rem;
	background-image: url('../img/screen.png'),linear-gradient(#3EBDFF,#47DCFF); 
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;

}
@font-face {
  font-family: 'iconfont';  /* project id 545879 */
  src: url('https://at.alicdn.com/t/font_545879_of9y8pepf1v5nrk9.eot');
  src: url('https://at.alicdn.com/t/font_545879_of9y8pepf1v5nrk9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_545879_of9y8pepf1v5nrk9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_545879_of9y8pepf1v5nrk9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_545879_of9y8pepf1v5nrk9.svg#iconfont') format('svg');
}
.dingwei{
	font-family: iconfont;
}
.now_city_box{
	font-size: 0.4rem;
	color: white;/* # fff */
	text-align: center;
	line-height: 1.6rem;/* 文字水平位置 */
}
.now_air_box{
	width:2.1rem; 
	height:1.26rem;
	background-color: #F1AB62;
	border-radius: .2rem;
	margin-left: 0.27rem;
	padding-top: 0.2rem;
}
.now_air_box span{
	display: block;/* 设置竖行 */
	text-align: center;
	color: #fff;
	font-size: 0.29rem;
}
.now_temp{
	font-size: 1.29rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-top: 0.52rem;
	padding-left:1.2rem;
}
.now_weather{
	font-size: 0.58rem;
	color: white;
	text-align: center;
	font-weight: bold;
    margin-top: 0.46rem;
}
.now_wind_box{
	font-size: 0.36rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-top: 0.35rem;
}
h5{
	font-size: 0.4rem;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-top: 1.31rem;
}
.next{
	width: 100%;
	height: 2.94rem;
	overflow: hidden;/* 超出部分隐藏，解决浮动问题 */
	border-bottom: 0.03rem solid #E4E4E4;
	padding: 0.72rem 0;
	background-color: white;
}
.next_box{
	width: 50%;
	height: 100%;

	float: left;/* 设置横行*/
	padding: 0 0.58rem;
}
.next_box1{
	border-right: .03rem solid #E4E4E4;
}
.next_date,.today_weather,.tomorrow_weather{
	float: left;
}
.next_temp,.today_img,.tomorrow_img{
	float: right;
}
.next_top,.next_bottom{
	overflow: hidden;
}
.today_img,.tomorrow_img{
	width: .78rem;
	height: .78rem;
}
.next_bottom{
	margin-top: .36rem;
}
.hours{
	width: 100%;
	height: 3.9rem;
	background-color: white;
	margin-top: .27rem;
	border-bottom: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
	overflow: hidden;
	padding: 0.88rem 0rem;
}
.hours_content{
	height: 100%;
	
	display: flex;
	overflow-x: auto;/* 横向自动滚轮 */
}
.hours_content li{
	width: 2rem;
	height: 100%;
	padding: 0 0.6rem;
	background-color: white;
	display: flex;/* 弹性布局 */
	flex-wrap: wrap;/* 设置弹性布局换行*/
	align-content: space-between;/* 多行两端对齐 */
	justify-content: center;
	flex-shrink: 0;
}/* 后代选择器 */
.hours_img{
	width: .58rem;
	height: .58rem;
}
.weeks{
	width: 100%;
	height: 9.16rem;
	background-color: white;
	margin-top: .27rem;
	border-bottom: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
	overflow: hidden;
	padding: 0.88rem 0;
}
.weeks_content{
	height: 100%;
	
	display: flex;
	overflow-x: scroll;/* 滚动 */
}
.weeks_content li{
	width: 2rem;
	height: 100%;
	background-color: white;
	display: flex;/* 弹性布局 */
	flex-wrap: wrap;/* 设置弹性布局换行*/
	align-content: space-between;/* 多行两端对齐 */
	justify-content: center;
	flex-shrink: 0;
}
.weeks_content li h1,.weeks_content li span{
	width: 2rem;
	text-align: center;
	display: block;
	/* 设置span字体大小 */
}
.weeks_weather,.weeks_temp_max,.weeks_temp_min,.weeks_wind_level{
	padding: 0 0.2rem;
}
.weeks_day_img{
	width: .72rem;
	height: .72rem;
}
.citys{
	width: 100%;/* 100vw */
	height: 100vh;
	background-color: #f6f6f6;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.search_box{
	width: 100vw;
	height: 1.28rem;
	background-color: #fff;
	padding: 0 0.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;/* 水平居中 */
	align-items: center;/* 垂直居中 */
}
.search{
	width: 9rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	padding-left: 0.3rem;
	border-radius: 0.1rem;
}
.confirm{
	font-size: 0.5rem;
	color: #76A9FF;
}
.citys_box{
	width: 100%;
	height: 90vh;

	overflow-y: auto;/* 垂直滑动设置 */
	padding: 0 0.3rem;
}
.citys_title,.citys_titl

e1{
	font-size: 0.5rem;
	color: #999;
	line-height: 0.8rem;/* 字体横高 */
}
.citys_list li{
	width: 2.93rem;
	height: 0.84rem;
	background-color: #fff;
	font-size: 0.44rem;/* 文字大小 */
	text-align: center;/* 水平居中 */
	line-height: 0.84rem;/* 垂直居中 */
	border: 0.03rem solid #e0e0e0;
	border-radius: 0.1rem;
	float: left;
	margin-bottom: 0.4rem;
	margin-right: 0.4rem;
}
/* ::-webkit-scrollbar{
	height: 0;
} */

.citys_box section{
	overflow: hidden;
}